.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 28px 48px 0;
}
@media screen and (min-width: 768px) and (max-width: 999px)
{
  .header {
    padding: 28px 24px 0;
  }
}
@media screen and (max-width: 767px)
{
  .header {
    padding: 16px;
    padding-bottom: 0;
  }
}
