.place__link {
  color: #fff;
  font-size: 18px;
  font-weight: normal;
  line-height: 22px;
  text-decoration: none;
  position: relative;
}
.place__link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #fff;
  bottom: -2px;
  right: 0;
}
.place__link:hover {
  opacity: 0.8;
}
