.place {
  margin: 40px auto;
  padding: 0;
  display: grid;
  grid-template-columns: 460px 484px;
  justify-items: start;
  width: 100%;
  row-gap: 48px;
  column-gap: 40px;
}
.place:first-of-type {
  margin-top: 0;
}
.place:last-of-type {
  margin-bottom: 0;
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .place {
    grid-template-columns: 440px 456px;
    column-gap: 32px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .place {
    margin: 0 auto;
    margin-top: 74px;
    grid-template-columns: 340px 352px;
    column-gap: 28px;
  }
}
@media screen and (max-width: 767px) {
  .place {
    grid-template-columns: 100%;
    gap: 30px;
    margin: 0 auto;
    margin-top: 51px;
  }
}
